
* {
  margin-left: 50px;
}

.messeng {
  display: flex;
  margin-top: 50px;
  outline: none;
  height: 80px;
  width: 300px;
  padding: 10px;
  
}
.list {
border: 1px solid black;
height: 300px;
width: 300px;
list-style-type: none;
padding: 0;
}
.listAutor{
  font-size: 9px;
}
