
body {
  background-color: #e8e8e8;
}

.messageBox {
  display: flex;
  margin-bottom: 2rem;
  max-width: 500px;
}
.chatBox {
  display: flex;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  min-height: 300px;
  padding: 15px;
  padding-bottom: 60px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  background-color: azure;
  max-width: 440px;

}
  
.messegelist {
background-color: azure;
border: 1px solid #A9A9A9;
border-radius: 5px;
min-height: 300px;
max-width: 460px;
list-style-type: none;
padding: 15px;
box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
